bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/InertiaCore
/.vs/InertiaCore/DesignTimeBuild
/.vs/InertiaCore/DesignTimeBuild/.dtbcache.v2
/.vs/InertiaCore/FileContentIndex
/.vs/InertiaCore/FileContentIndex/1761732b-baa2-48b3-bbc8-403136b1496c.vsidx
/.vs/InertiaCore/FileContentIndex/1e822e20-26d0-4114-acaf-b83b1a49eae2.vsidx
/.vs/InertiaCore/FileContentIndex/a9e71608-f8dd-4133-b062-4817aae62f9a.vsidx
/.vs/InertiaCore/FileContentIndex/c3fa2f36-80e7-4931-ab97-ee89c04178ad.vsidx
/.vs/InertiaCore/v17
/.vs/InertiaCore/v17/.futdcache.v2
/.vs/InertiaCore/v17/.suo
/.vs/InertiaCore/v17/DocumentLayout.json
/.vs/InertiaCore/v17/TestStore/0
/.vs/InertiaCore/v17/TestStore/0/000.testlog
/.vs/InertiaCore/v17/TestStore/0/testlog.manifest
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/inertiacore.metadata.v7.bin
/.vs/ProjectEvaluation/inertiacore.projects.v7.bin
